<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Index</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<header th:replace="layout/plantilla :: header"></header>
	<section id="main-header" class="py-2 bg-info text-white">
		<div class="text-center">
			<h1>INICIAR SESIÓN</h1>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<form>
						<a th:href="@{/login-usuario}" class="nav-link text-secondary">
							<i class="fas fa-user"></i> USUARIO
						</a>
					</form>
				</li>
				<li class="nav-item">
					<form>
						<a th:href="@{/login-empresa}" class="nav-link text-secondary">
							<i class="fas fa-cog"></i> EMPRESA
						</a>
					</form>
				</li>
			</ul>
		</div>
	</section>
	<div class="container">

		<h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">Sobre nosotros</h2>
		<br/> 
		<br/>
		<div class=" container-fluid">
			<div class="row">
				<div class="col-md-4">
					<img class="rounded align-items-center"
						src="https://i.blogs.es/6e9d07/actividades-varias/1366_2000.gif" alt="gif" />
				</div>
				<div class="col-md-8 text-center">
					<p>
						¿Quién no ha tenido una persona que le ha llevado a un sitio
						increíble en su ciudad para realizar una actividad y que viviendo
						allí ni siquiera sabía de su existencia?
					</p>
					
					<p>
						¿O acaso te has mudado recientemente y aún no has
						descubierto todas las posibilidades de ocio que te ofrete tu nuevo
						domicilio?
					</p>
					
					<p>
						Y en caso contrario, como empresa, ¿te gustaría llegar a mas
						personas y que conociesen tu maravilloso negocio?
					</p>

					<p>
						Muchas veces, realizamos nuestra rutina semanal. Trabajo a
						casa, casa a trabajo. Y no observamos las inmensas posibilidades
						de ocio para nuestro tiempo libre que tenemos a nuestro alrededor.
					</p>
					
					<p>
						Queremos conectar empresas y personas. Para que nadie se
						pierda nunca nada. Para poder seguir practicando un hobbie o
						descubrir muchos nuevos.
					</p>
					
					<p>
						Nosotros queremos ser esa persona que os descubra todas las
						actividades disponibles en vuestras localidades.
					</p>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<h3 class="text-secondary text-center ">Y ASÍ NACIÓ MYFREETIME</h3>
	</div>
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>